---
interface Props {
  name: string;
  id: string;
  lang: string;
}

import { Icon } from "astro-icon/components";

const { name, id, lang } = Astro.props;

import { getEntry } from "astro:content";
const app = await getEntry("apps", `${lang}/${name}`);
const links = await getEntry("links", name);
---

<div class="app-card" id={id}>
  <h2>{app?.data.title}</h2>
  <img
    src=`/app-screenshots/${app?.data.img}`
    alt=`${app?.data.title} screenshot`
    width="220px"
    height="400px"
  />
  <div class="details">
    <div class="general">
      <p>
        {app?.data.description}
      </p>
    </div>

    <div class="features">
      <h3>{app?.data.featuresTitle}</h3>
      <ul>
        {app?.data.features.map((feature) => <li>{feature}</li>)}
      </ul>
    </div>
  </div>
  <div class="links">
    <a href={links?.data.play} target="_blank"
      ><Icon name="store_badge" width={120} height={35} /></a
    >
    <a href={links?.data.fdroid} target="_blank"
      ><Icon name="fdroid_badge" width={120} height={35} /></a
    >
    <a href={links?.data.github} target="_blank"
      ><Icon name="github_badge" width={120} height={35} /></a
    >
  </div>
  <div class="open-dialog-btn">
    <button id={`open-dialog-${id}`}>Read more</button>
  </div>
  <dialog id={`dialog-${id}`}>
    <div>
      <div class="general">
        <p>
          {app?.data.description}
        </p>
      </div>

      <div class="features">
        <h3>{app?.data.featuresTitle}</h3>
        <ul>
          {app?.data.features.map((feature) => <li>{feature}</li>)}
        </ul>
      </div>
      <button id={`close-dialog-${id}`} autofocus>Close</button>
    </div>
  </dialog>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const apps = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].map((item) => {
      const id = `app-${item}`;
      return {
        dialog: document.getElementById(`dialog-${id}`),
        close: document.getElementById(`close-dialog-${id}`),
        open: document.getElementById(`open-dialog-${id}`),
      };
    });

    apps.forEach((app) => {
      app.open?.addEventListener("click", () => {
        app.dialog?.showModal();
      });
      app.close?.addEventListener("click", () => {
        app.dialog?.close();
      });
    });
  });
</script>

<style>
  .app-card {
    scroll-snap-align: center;
    display: grid;
    grid-template-areas: "title title" "screen details" "screen links";
    grid-template-columns: 14em 16em;
    max-width: 28em;
    gap: 1rem;
    position: relative;
    align-content: start;
  }

  .app-card > h2 {
    grid-area: title;
    font-size: var(--fs-sm);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
  }

  .app-card > img {
    grid-area: screen;
    min-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.5rem;
  }

  .details {
    grid-area: details;
    display: grid;
    justify-items: start;
    align-content: start;
    gap: 1rem;
  }

  @media (width < 40em) {
    .app-card {
      grid-template-areas: "title" "screen" "links" "open-dialog-btn";
      grid-template-columns: 20em;
      max-width: 20em;
      gap: 0.5rem;
    }
    .details {
      display: none;
    }
  }

  .general,
  .features {
    display: grid;
    gap: 1rem;
  }

  .general > p {
    max-width: 20ch;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .general > h2 {
    font-size: var(--fs-sm);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
  }

  .features > h3 {
    font-weight: 600;
    text-align: start;
  }

  .features > ul {
    display: grid;
    text-align: start;
    padding-inline-start: 2rem;
  }

  .links {
    grid-area: links;
    display: grid;
    align-items: center;
    gap: 0.5rem;
  }

  @media (width < 40em) {
    .links {
      grid-auto-flow: column;
    }
  }

  [data-icon="fdroid_badge"] {
    color: black;
  }

  [data-icon="github_badge"] {
    color: black;
  }

  .open-dialog-btn {
    display: none;
  }

  @media (width < 40em) {
    .open-dialog-btn {
      display: block;
      grid-area: open-dialog-btn;
      place-self: center;
      width: 100%;
    }

    .open-dialog-btn > button {
      background-color: var(--primary-container);
      color: var(--on-primary-container);
      border: solid 1px var(--outline-variant);
      border-radius: 0.5rem;
      width: 100%;
      padding-block: 0.5rem;
      cursor: pointer;
    }
  }

  dialog {
    position: fixed;
    width: max-content;
    inset: 0;
    margin: auto;
    padding: 3rem;
    border: solid 1px var(--outline);
    background-color: var(--surface-container);
    border-radius: 0.5rem;
  }

  dialog > div {
    grid-area: details;
    display: grid;
    place-content: center;
    gap: 1rem;
  }

  dialog button {
    margin-block-start: 1rem;
    background: var(--primary-container);
    color: var(--on-primary-container);
    padding-inline: 1rem;
    padding-block: 0.2rem;
    border: solid 1px var(--outline-variant);
    border-radius: 0.5rem;
    cursor: pointer;
    justify-self: end;
  }
</style>
