---
const { lang } = Astro.props;

import { getEntry } from "astro:content";

const strings = await getEntry("strings", `${lang}/strings`);
---

<section>
    <h1>{strings?.data.profile.title}</h1>
    <div class="profile">
        <div>
            <h2>{strings?.data.profile.vision.title}</h2>
            <p>{strings?.data.profile.vision.text}</p>
        </div>
        <div>
            <h2>{strings?.data.profile.mission.title}</h2>
            <p>{strings?.data.profile.mission.text}</p>
        </div>
    </div>
</section>

<style>
    section {
        padding-inline: clamp(1rem, 2rem + 1vw, 4rem);
        padding-block: clamp(2rem, 2rem + 2vw, 4rem);
        display: grid;
        gap: 2rem;
        place-content: center;
    }
    h1 {
        text-align: center;
        font-size: clamp(var(--fs-md), var(--fs-md) + 2vw, var(--fs-lg));
        font-weight: 600;
        color: var(--primary);
    }
    .profile {
        display: grid;
        grid-auto-flow: column;
        gap: 2rem;
    }

    @media (max-width: 40em) {
        .profile {
            grid-auto-flow: row;
        }
    }

    .profile h2 {
        padding-bottom: 2rem;
        font-size: var(--fs-md);
        text-align: center;
    }

    .profile p {
        max-width: 45ch;
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
</style>
